AddDefaultCharset utf-8

RewriteEngine On
RewriteBase /
RewriteRule ^.htaccess$ - [F]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.html(.*)$ index.php?action=$1    [QSA,L]

